* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 0% 100%;
    grid-template-rows: 100px 50px 1000px 50px;
    gap: 4px;
  }
  
  .container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    
  }
  
  .header {
    background-color: #393f4d;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 3fr;
    grid-column: 1/5;
  }
  
  .menu ul,
  .menu li {
    font-size: 16px;
  }
  
  .menu{
    display: grid;
    align-items: center;
  }
  
  .menu ul{
    grid-column: 2/3;
    justify-content: space-around;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    
  }
  
  ul{
    list-style: none;
  }
  
  /* .sidebar {
    background-color: #FF7755;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 25%);
    gap: 50px;
  
    grid-column: 1;
    grid-row: 2/5;
  
  }
  .side-content, .photo{
    height:100px;
    width: 80%;
  }
  
  .sidebar .photo {
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: normal;
    border-radius: 10px;
    
  }
  
  
  .sidebar .side-content {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: normal;
  } */
  
  
  
  .nav {
    background-color: #FF7755;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
  .nav ul{
    display: grid;
    grid-template-columns: 33% 33% 33%
  }
  
  .nav ul li {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .article {
    background-color: #bccbde;
    grid-column: 2/-1;
    grid-row: 3/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 15px;
    
  }
  
  .article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .article .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    width:100%;
    height: 200px;
  }
  
  .card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
  }
  
  .card .title {
    font-size: 18px;
    text-align: center;
  }
  
  .footer {
    background-color: #393f4d;
    grid-column: 1/5;
    grid-row: -1;
  }
  
  .footer p {
    font-size: 13px;
    font-weight: normal;  
  }
  