.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #535d53;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #535d53;
    color: white;
  }
  /* fileUpload section */
  
  
  .center {
    position: relative;
    float: right;
    width: 250px;
    height: 250px;
    background-color: #fff;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.7);
  }
  
  .title {
    text-align: center;
    font-size: 18px;
    line-height: 0.5;
    border-bottom: 1px solid #000;
  
  }
  
  .file {
    position: absolute;
    display: table;
    table-layout: fixed;
    width: 100px;
    height: 80px;
    top: 90px;
    left: 75px;
    border: 1px dotted #000;
    border-radius: 5px;
  }
  .file{
      cursor: pointer;
  }
  .upload {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .fileName {
    position: absolute;
    width: 100%;
    height: 18px;
    padding: 3px;
    bottom: 0;
    color: #67B26F;
    font-size: 11px;
  }
  
  .input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }
  .button{
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    background-color: rgb(22, 144, 200);
    color: white;
    float:right;
  }
  .buttonClose{
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    background-color: rgb(202, 163, 72);
    color: white;
    
  }
  .homeimg {
    background: url('../image/image3.png');
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    height: 600px;
  }
  .main h1 {
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase;
  }
  
  @media (max-width: 500px) {
    .modal-content {
        width: 80%;
    }
  
    
  }
  
  
  