{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Collection</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/collection.css' %}">
</head>
<body>
    <section class="navigation">
        <div class="nav-container">
          <div class="brand">
            <a href="#!">PWMS</a>
          </div>
          <nav>
            <div class="nav-mobile"><a id="navbar-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list">
              
              <li>
                <a href="#!">Logout</a>
              </li>
             
            </ul>
          </nav>
        </div>
      </section>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">PWMS</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/collection/dashboard">Dashboard</a></li>
        <li><a href="/collection/profile">Profile</a></li>
        <li><a href="/collection/approve_request">Approve Request</a></li>
        <!-- <li><a href="#">Send Notifications</a></li> -->
        <!-- <li><a href="/collection/change_password">Change Password</a></li> -->
        
        
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
    <div class="row content">
      <div class="col-sm-2 sidenav hidden-xs">
        <h2>COLLECTION</h2>
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="/collection/dashboard">Dashboard</a></li>
            <li><a href="/collection/profile">Profile</a></li>
            <li><a href="/collection/approve_request">Approve Request</a></li>
            <!-- <li><a href="#">Send Notifications</a></li> -->
            <!-- <li><a href="/collection/change_password">Change Password</a></li> -->
        </ul><br>
      </div>
      <br>
      {% block content %}

      
       {% endblock%}
      </div>
      </div>




<script>
    	(function($) { 
  $(function() { 

    //  open and close nav 
    $('#navbar-toggle').click(function() {
      $('nav ul').slideToggle();
    });


    // Hamburger toggle
    $('#navbar-toggle').on('click', function() {
      this.classList.toggle('active');
    });
  }); 
})(jQuery); 
</script>
</body>
</html>
